.navbar {
  display: flex;
  align-items: center;

  position: relative;
  padding: 50px;
}

.navbar img {
  max-width: 300px;
}

.header {
  background: url('https://mars.nasa.gov/imgs/mars2020/mars2020-sky-crane.jpg')
    center no-repeat fixed;
  background-size: 100% auto;
  min-height: 400px;
}

.header h1 {
  color: rgb(11, 31, 117);
  text-align: center;
}

.image {
  position: absolute;
  transform: translate(1500px, 0);
  transition: 0.6s;
}

.image.active {
  transform: translate(300px, 0);
}

.container {
  padding: 0 80px;
}
