.headerBox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background: url('https://mars.nasa.gov/imgs/mars2020/mars2020-sky-crane.jpg')
    center no-repeat fixed;
  background-size: 100% auto;
  min-height: 600px;
  padding: 20px;
}

.headerBox h3 {
  text-align: center;
  color: rgb(206, 40, 40);
}

.container {
  padding: 0 20px;
  margin: 40px 0 0 0;
}

.footer {
  margin: 70px 0 0 0;
  padding: 30px 0;
  text-align: center;
  background-color: rgb(136, 74, 74);
}

.footer h2 {
  color: rgb(70, 13, 13);
  font-size: 35px;
  font-weight: bold;
}
