.navbar {
  display: flex;
  align-items: center;
  justify-content: start;
  position: relative;
  padding: 50px;
}

.navbar img {
  max-width: 300px;
}

.header {
  background: url('https://media.istockphoto.com/photos/march-picture-id137450592?k=20&m=137450592&s=612x612&w=0&h=enEgPTk0-bRsCzjHlWFYWp7BZQgB30SfDKir_z5OQyU=')
    center no-repeat fixed;
  background-size: 100% auto;
  min-height: 300px;
}

.header h1 {
  color: rgb(11, 31, 117);
  text-align: center;
}

.image {
  position: absolute;
  transform: translate(1500px, 0);
  transition: 0.6s;
}

.image.active {
  transform: translate(300px, 0);
}

.container {
  padding: 0 80px;
}
