.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* margin: 20px 0 0 0; */
}

.image {
  max-width: 250px;
  transform: scale(1, 1);
  transition: 0.3s;
}

.image:hover {
  transform: scale(1.8, 1.8);
  z-index: 10;
  cursor: pointer;
}
