.blackBox {
  position: relative;
  overflow: hidden;
  border: 1px solid #000;
}

.curtan {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: aqua;
  /* z-index: 100; */
  opacity: 0.2;
}
